body {
  font-family: 'Optima';
}

button {
  font-family: 'Optima';
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #bd9b8f;
  align-items: center;
  margin: 1em;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  border-radius: 5px 5px 0 0;
}
#brandName {
  font-family: 'Didot';
}

.frontPageText {
  font-family: 'Optima';
  color: #89776f;
  font-size: large;
}

#welcomeMsg {
  text-align: center;
  padding: 15px;
}

nav a:hover {
  text-decoration: underline;
  padding: 0.5px;
}

nav a:visited {
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

#landing-page {
  width: 100%;
  height: 100%;
}

.productContainer {
  display: flex;
  width: 95vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: 0.2s;
  border-radius: 5px;
}

.propertyName {
  color: #bd9b8f;
}

#propertyNameLink:hover {
  text-decoration: underline;
}

#propertyNameLink:visited {
  color: #709ec1;
}

.singlePropertyName {
  color: #709ec1;
}

img {
  border-radius: 5px 5px 0 0;
  width: auto;
  height: 100px;
}

.cardImg {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #b6e5fb;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.card button {
  width: 100%;
}

button:hover {
  opacity: 0.7;
}

.container {
  padding: 0;
  width: 100%;
}

.price {
  font-size: 22px;
}

.cartItem {
  padding: 20px 30px;
  height: auto;
  display: flex;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: 0.2s;
  border-radius: 5px;
  justify-content: space-between;
  font-size: 25px;
}

.cartItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cartImg {
  width: 200px;
  height: auto;
}

.cartDeleteButton {
  height: 40px;
  width: auto;
}

.text {
  color: #89776f;
}

.authForm {
  font-size: 20px;
  color: #89776f;
}
